/* alice.base 样式模块 */

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    color:#000;background:#fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea {
    font:12px/1.5 tahoma,arial,"Hiragino Sans GB",\5b8b\4f53;
}
input,select,textarea {
    font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table {
    border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align:inherit;
}

/* 去除默认边框 */
fieldset,img {
    border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
    border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
    list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
    text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}

q:before,q:after {
    content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* 正常链接 未访问 */
a:link {
    color: #08c;
}

/* 鼠标悬停 */
a:hover {
    color: #08c;
    text-decoration: underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
}

/* 代码字体 */
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/* 清理浮动 */
.clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.clear {
    zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
    display:none;
}

/* 设置内联, 减少浮动带来的bug */
.fl, .fr {
    display:inline;
}
.fl {
    float:left;
}
.fr {
    float:right;
}

/* 单行文字溢出时出现省略号，需设定宽度 */ 
.fn-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 简单的渐变 */
.fn-linear {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f1f1f1));
    background: -moz-linear-gradient(top, #fcfcfc, #f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');
    background:-o-linear-gradient(top, #fcfcfc, #f1f1f1);
    background:-ms-linear-gradient(top, #fcfcfc, #f1f1f1);
    background: linear-gradient(to bottom, #fcfcfc, #f1f1f1);
}

/* 浅色的渐变 */
.fn-linear-light {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f9f9f9));
    background: -moz-linear-gradient(top, #fcfcfc, #f9f9f9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f9f9f9');
    background:-o-linear-gradient(top, #fcfcfc, #f9f9f9);
    background:-ms-linear-gradient(top, #fcfcfc, #f9f9f9);
    background: linear-gradient(to bottom, #fcfcfc, #f9f9f9);
}

/* 人民币符号 */
.fn-rmb {
    font-family: arial;
    font-style: normal;
    padding-right: 4px;
}


/* chrome 下字体过小的问题 */
.fn-webkit-adjust {
    -webkit-text-size-adjust: none;
}

/* 一致化 horizontal rule */
hr{
  border:none;
  border-bottom:1px solid #cfcfcf;
  margin-bottom:10px;
  *color:pink; *filter:chroma(color=pink);
  height:10px;
  *margin:-7px 0 2px;
}

/* 底部印刷体、版本等标记 */
small, .typo-small,
  /* 图片说明 */
figcaption{
  font-size:0.9em;
  color:#888;
}

strong, b{font-weight:bold;color:#000;}

/* Firefox 以外，元素没有下划线，需添加 */
acronym, abbr{
  border-bottom:1px dotted;
  font-variant:normal;
}

/* 添加鼠标问号，进一步确保应用的语义是正确的（要知道，交互他们也有洁癖，如果你不去掉，那得多花点口舌） */
abbr{
  cursor:help;
}

html,body{
    height: 100%;
    color: #666;
    background-color: #f2f2f2;
}

#header,#main,#footer{
    font-family:Avenir, 'Helvetica Neue', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
}

#logo, .w, .page-nav{
    width: 1000px;
    margin: 0 auto;
}

@media (max-width:1024px){
  #logo, .w, .page-nav{
      width: 96%;
      margin: 0 auto;
  }
}

@media (max-width:768px){
  #nav #nav-search{
    display: none;
  }
}

.nav-warp{
    background: url(../images/top_border.png) repeat-x 0 bottom;
    background-color: #000;
}

#nav{
    position: relative;
    height: 40px;
    overflow: hidden;
}

#nav a{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 20px;
    color: #999;
}


#nav-search{
    cursor: pointer;
}

#nav a:hover{
    color: #fff;
    text-decoration: none;
}

#nav .hide{
    opacity: 0;
    visibility: hidden;
    transition: all 2s;
    -webkit-transition: all 2s;
}

#nav .show{
    opacity: 100;
    transition: all 2s;
    -webkit-transition: all 2s;
}

#nav-search-input{
    position: absolute;
    right: 50px;
    top: 6px;
}

#nav .input-submit{
    display: none;
}

#nav-search-input .input-text{
    width: 200px;
    height: 18px;
    padding: 3px 5px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

@media (min-width:1000px){
  #logo{
    height: 500px;
  }

  #site-title{
    padding: 180px 0 0;
  }
}


#site-title{
  font-size: 4.2em;
}

#site-description{
  font-size: 1.2em;
  font-weight: 200;
  color: #fff;
}

@media (max-width:1024px){
  #logo{
    height: auto;
    background: url(../images/bg_head2_small.jpg) no-repeat center center;
  }

  #logo .hg{
    padding: 50px 0;
  }

  #site-title{
    font-size: 3.2em;
  }

  #site-description{
    font-size: 1em;
    font-weight: 200;
    color: #fff;
  }
}

#logo{
    overflow: hidden;
    text-align: center;
    background: url(../images/bg_head2.jpg) no-repeat center center;
}

#logo a{
    color: #fff;
    text-decoration: none;
}

/*#logo p{
    font-size: 14px;
    color: #fff;
}*/


/* Main */
#main{
    width: 1000px;
    margin: 20px auto 40px;
}

@media (max-width:1024px){
  #main{
    width: 96%;
    margin: 15px auto 20px;
  }
}

.post{
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 3px #ddd;
}

.post-head,.post-content,.post-foot-warp{
    width: 850px;
    margin: 0 auto;
}

.post{
  margin-bottom: 30px;
}

@media (max-width:1024px){
  .post-head,.post-content,.post-foot-warp{
      width: 92%;
      margin: 0 4%;
  }

  .post{
    margin-bottom: 15px;
  }
}

.post-head{
    padding: 30px 0 20px;
    margin-bottom: 10px;
}

.post-title{
    font-size: 2.5em;
    font-weight: lighter;
}

.post-title > a{
    color: #666;
}

.post-title > a:hover{
    color: #999;
    text-decoration: none;
}

.post-time{
    color: #ccc;
}

.post-images{
    margin: 20px 0 30px;
}

.post-content{
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 50px;
}

.post-content p{
    overflow: hidden;
    word-wrap:break-word;
}

.post-content blockquote{
    border-left: 5px solid #ddd;
    background-color: #eee;
    color: #999;
    overflow: hidden;
}

.post-content blockquote p{
  margin: 1.2em 0;
}

.post-content blockquote{
  margin: 1.6em -75px;
  padding: 10px 70px;
}

.post-content .highlight {
  margin: 1.6em -75px;
  padding: 30px;
}

@media (max-width:1024px){
  .post-content blockquote{
    margin: 1.6em -4.4%;
    padding: 10px 4%;
  }

  .post-content .highlight {
    margin: 1.6em -4%;
    padding: 2%;
  }
}

.post-content .highlight table,
.post-content .highlight pre{
  margin-bottom: 0;
}

.highlight {
  overflow: auto;
  background-color: #2d2d2d;
  color: #ccc;
}

.highlight .gutter {
  color: #666;
}

.post-content .highlight td,
.post-content .highlight th {
  border: none;
}


.post-foot{
    padding: 25px 0;
    border-top: 1px solid #ddd;
}

@media (max-width: 768px){
  .post-foot{
    padding:0;
    border-top: 1px solid #ddd;
  }
}

.post-foot a{
    color: #999;
}

.post-foot a:hover{
    color: #666;
}

.post-tag{
    height: 40px;
    line-height: 20px;
}

.post-tag li,
.post-category li{
    float: left;
}

.post-tag a,
.post-category a{
    display: block;
    padding: 10px 8px 10px;
}

a.post-foot-link{
    height: 40px;
    line-height: 40px;
    color: #999;
    font-size: 1em;
    padding-left: 15px;
}

@media (max-width: 768px){
  a.post-foot-link{
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .post-category, .post-tag{
    padding: 10px 0;
  }

  .home-tag{
    display: none;
  }
}

.page-nav,
#post-nav{
    text-align: center;
}

.page-nav a,
a.post-nav-link-wrap{
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.4em;
    font-weight: lighter;
    color: #999;
}

.page-nav a:hover,
a.post-nav-link-wrap:hover{
    color: #666;
    text-decoration: none;
}

#comments{
  margin-top: 30px;
}

/* Archive */
#archives{
  min-height: 264px;
  padding: 30px 75px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 3px #ddd;
}

@media (max-width:1024px){
  #archives{
    width: 92%;
    padding: 30px 4%;
    margin-bottom: 2%;
  }
}

#archives h1{
  font-size: 2.5em;
  margin-bottom: 20px;
}

#archives .month{
  margin-bottom: 20px;
}

#archives .month-title{
  font-size: 1.8em;
  font-weight: lighter;
}

#archives .post-list{
  padding-left: 20px;
}

#archives .post-list li{
  padding: 5px 0;
  font-size: 1.2em;
}

#archives .post-list a{
  color: #999;
}

#archives .post-list a:hover{
  color: #333;
  text-decoration: none;
}

/* Footer */

#footer{
    color: #999;
    line-height: 21px;
    background-color: #333;
    padding: 20px 0;
}

.foot-warp{
  width: 850px;
  margin: 0 auto;
  padding: 0 75px;
}

@media (max-width:1024px){
  .foot-warp{
    width: 96%;
    text-align: center;
    padding: 0;
  }
}

/* Icon Font */
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?18127066');
  src: url('../font/fontello.eot?18127066#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?18127066') format('woff'),
       url('../font/fontello.ttf?18127066') format('truetype'),
       url('../font/fontello.svg?18127066#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 14px;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 40px;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
   font-size: 120%; 
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-tag:before { content: '\e803'; float: left; color: #666;}
.icon-category:before{ content: '\e802'; float: left; color: #666;}
.icon-search:before{content: '\e801';}
.icon-link:before{ content: '\e800'; color: #666; font-size: 0.9em; padding-left: 5px;}

/* Typo */

/* 提供 serif 版本的字体设置: iOS 下中文自动 fallback 到 sans-serif */
.serif{ font-family:Palatino, Optima, Georgia, serif; }

/* 保证块/段落之间的空白隔行 */
.typo p, .typo pre, .typo ul, .typo ol, .typo dl, .typo form, .typo hr, .typo table,
.typo-p, .typo-pre, .typo-ul, .typo-ol, .typo-dl, .typo-form, .typo-hr, .typo-table, blockquote{
  margin-bottom:1.8em;
}

h1, h2, h3, h4, h5, h6{
  font-family:'Helvetica Neue', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
  font-weight:200;
  color:#000;
}



.typo a{
    color: #258fb8;
}

.typo kbd{
    box-shadow: 0 1px 0px rgba(0,0,0,0.2), 0 0 0 2px #fff inset;
}

.typo code, .typo kbd{
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f7f7f7;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    font-size: 0.85em;
    line-height: 1.2;
}

.typo code, .typo kbd, .typo pre, .typo samp{
    font-family: 'Source Code Pro', Consolas, 'Liberation Mono', Courier, monospace, serif;
}

/* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优化 */
.typo h1, .typo h2, .typo h3, .typo h4, .typo h5, .typo h6,
.typo-h1, .typo-h2, .typo-h3, .typo-h4, .typo-h5, .typo-h6{
  margin-bottom:0.4em;
  line-height:1.5;
}

.typo h1, .typo-h1{
  font-size:2em;
}

.typo h2, .typo-h2{
  font-size:1.8em;
}

.typo h3, .typo-h3{
  font-size:1.6em;
}

.typo h4, .typo-h4{
  font-size:1.4em;
}

.typo h5, .typo h6, .typo-h5, .typo-h6{
  font-size:1.2em;
}

/* 在文章中，应该还原 ul 和 ol 的样式 */
.typo ul, .typo-ul{
  margin-left:1.3em;
  list-style:disc;
}

.typo ol, .typo-ol{
  list-style:decimal;
  margin-left:1.9em;
}

.typo li ul, .typo li ol, .typo-ul ul, .typo-ul ol, .typo-ol ul, .typo-ol ol{
  margin-top:0;
  margin-bottom:0;
  margin-left:2em;
}

.typo li ul, .typo-ul ul, .typo-ol ul{
  list-style:circle;
}

/* 同 ul/ol，在文章中应用 table 基本格式 */
.typo table th, .typo table td, .typo-table th, .typo-table td .typo table caption{
  border:1px solid #ddd;
  padding:0.5em 1em;
  color:#666;
}

.typo table th, .typo-table th{
  background:#fbfbfb;
}

.typo table thead th, .typo-table thead th{
  background:#f1f1f1;
}

.typo table caption{
  border-bottom:none;
}

/* 去除 webkit 中 input 和 textarea 的默认样式  */
.typo-input, .typo-textarea{
  -webkit-appearance:none;
  border-radius:0;
}

/* 高亮选中 */
::-moz-selection{
  background:#08c;
  color:#fff;
}

::selection{
  background:#08c;
  color:#fff;
}

.typo-em, .typo em, .typo cite, legend, caption{
  font-weight:inherit;
  font-style: italic;
}

/* 着重号，只能在少量（少于100个字符）且全是全角字符的情况下使用 */
.typo-em {
  position: relative;
}
.typo-em:after {
  position: absolute;
  top: 0.65em;
  left: 0;
  width: 100%;
  overflow: hidden;
  content: "・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・";
}

/* Responsive images */
.typo img{ max-width: 100%; }
.post-images img{ max-width: 100%; }
.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.line{
  height: 25px;
}